* {
    font-family: FontAwesome, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.5);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: rgba(43, 48, 59, 0.5);
    border: rgba(100, 114, 125, 0.5);
    padding: 0 3px;
}

#workspaces button {
    color: #ffffff;
}

#workspaces button.focused, 
#workspaces button.active {
    background-color: #ffffff;
    color: #000000;
}
